.about {
	background: $blue;
	padding-top: 100px ; //($grid-gutter-width / 2)
	padding-bottom: 30px;

	&__bg {
		background: image_url('salon-bg.png') no-repeat 50% 0;

		@include media($sm, $xs) {
			min-height: $mobileBodyMinHeight;
		}
	}
}