$borderColor: #f0f3f8;
$angleWidth: 12px;

.actions {

	&__title {
		display: inline-block;
		@extend %fontRalewayExtraBold;
		text-transform: uppercase;
		color: #fff;
		font-size: ptToPx(39px);
		padding: 9px 18px;
		background: $green;
		position: relative;
		border-left: 6px $borderColor solid;
		border-right: 6px $borderColor solid;
		border-bottom: 4px $borderColor solid;
		margin-bottom: 30px;
	}

	&__title-tail {
		$tailHeight: 70px;

		@include size(57px, $tailHeight);
		position: absolute;
		left: -13px;
		bottom: -12px;
		display: block;
		background: $green;
		z-index: -1;
		@include before() {
			border-top: $tailHeight / 2 $green solid;
			border-bottom: $tailHeight / 2 $green solid;
			border-left: $angleWidth transparent solid;
			position: absolute;
			left: -$angleWidth;
			bottom: 0;
		}

		&_right {
			left: auto;
			right: -13px;

			&:before {
				left: auto;
				right: -$angleWidth;
				border-left: 0;
				border-right: $angleWidth transparent solid;
			}
		}
	}

	&__credit {
		float: none;
        width: 100%;
		text-align: center;
		margin-bottom: 25px;
		position: relative;
		z-index: 1;

		i {
			display: block;
			  float: none;
			  margin-left: auto;
			  margin-right: auto;
		}
	}

	&__nav {
		position: absolute;
		right: $grid-gutter-width / 2;
		top: 115px + 25px;
		@include resetList();
		text-align: right;

		@include media($sm) {
			position: static;
			padding-top: $paddingTop;
			margin-bottom: -90px;;
		}

		li {
			margin-bottom: 25px;
			min-height: 42px;

			a {
				text-transform: uppercase;
				font-size: ptToPx(17px);
				color: $green;
				padding-right: 50px;
				position: relative;
				width: 260px;
				z-index: 1;
				text-decoration: underline;
				@extend %fontRalewayExtraBold;

				.arrowed-link__arrow {
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -21px;
				}
			}

			.text-horizontal-arrow {
				@extend .text-horizontal-arrow_green;

			}

			&.active {
				a {
					color: $violet;
					text-decoration: none;
				}

				.text-horizontal-arrow {
					@extend .text-horizontal-arrow_violet;
				}
			}
		}
	}

	&__img {
		margin-bottom: 22px;
		@extend .mw-100;
	}
}