.arrowed-link {
	text-align: center;
	position: relative;
	//margin-bottom: 50px;

	&_static {
		position: static;
	}

	&__in-bottom {
		position: absolute;
		bottom: 50px;
		left: 0;
	}

	&__link {
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 0 !important;
        display: inline-block;
	}

	&__text {
		display: block;
		margin-bottom: 5px;
		font-size: ptToPx(17px);
	}

	&__arrow {
		@include square(42px);
		border: 2px #fff solid;
		@include border-radius(100%);
		display: inline-block;
		position: relative;

		@include before() {
			@include square(12px);
			border-left: 1px #fff solid;
			border-bottom: 1px #fff solid;
			@include rotate(-45deg);
			position: absolute;
			left: 50%;
			margin-left: -6px;
			top: 50%;
			margin-top: -9px;
		}

		&_right {
			&:before {
				@include rotate(-135deg);
				margin-left: -9px;
				margin-top: -7px;
			}
		}

		&_left {
			margin-right: 0 !important;
			margin-left: 15px;

			&:before {
				@include rotate(45deg);
				margin-left: -4px;
				margin-top: -6px;
			}
		}

		&_small {
			@include square(30px);

			&:before {
				@include square(9px);
				margin-left: -6px;
				margin-top: -5px;
			}
		}

		&_60 {
			@include square(60px);

			&:before {
				@include square(16px);
				margin-left: -5px;
				margin-top: -7px;
			}
		}
	}

	&_left {
		text-align: left;
	}

	&__back {
		position: relative;
		padding-left: 75px;
		line-height: 60px;
        display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		font-size: ptToPx(17px);

		.arrowed-link__arrow {
			margin-left: 0;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.text-horizontal-arrow {
	color: #fff;
	display: inline-block;
	text-decoration: none;

	&_violet {
		color: $violet;

		.arrowed-link__arrow {
			border-color: $violet;

			&:before {
				border-color: $violet;
			}
		}
	}

	&_brown {
		color: $brown;

		.arrowed-link__arrow {
			border-color: $brown;

			&:before {
				border-color: $brown;
			}
		}
	}

	&_green {
		color: $green;

		.arrowed-link__arrow {
			border-color: $green;

			&:before {
				border-color: $green;
			}
		}
	}

	&_bold {
		@extend %fontRalewayExtraBold;
	}

	.arrowed-link__arrow {
		margin-right: 15px;
		vertical-align: middle;

		@include media($xs) {
			margin-right: 5px;
		}
	}
}