.title-benefits {
	text-align: center;
	font-size: ptToPx(50px);
	text-transform: uppercase;
	color: #fff;
	@extend %fontRalewayExtraBold;
	//margin-bottom: 40px;
	margin-bottom: 25px;
	margin-top: 115px;

	&_violet {
		color: $violet;
	}
}

.benefits {

	&__item {
		text-align: center;
		margin-bottom: 70px;
	}

	&__icon {
		@include image-block('money.png');
		display: inline-block;

		&_exclusive {
			background-image: image_url('exclusive.png');
		}

		&_beauty {
			background-image: image_url('beauty.png');
		}

		&_expert {
			background-image: image_url('expert.png');
		}

		&_quality {
			background-image: image_url('quality.png');
		}

		&_design {
			background-image: image_url('design.png');
		}
	}

	&__title {
		text-transform: uppercase;
		color: #fff;
		font-size: ptToPx(17px);
		margin-bottom: 15px;
		margin-top: 0;
	}
}

.benefits-bg {
	background: $greenBg;
}