.catalog {

	&__h33 {
		height: 33%;
		background: no-repeat 50% 0;
		margin: 0 (-($grid-gutter-width / 2));
		@include background-size(100%);
		position: relative;

		&:first-child {
			height: 34%;
		}

		&:before {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			@include square(100%);
			background: #000;
			@include opacity(0);
			z-index: 0;
			@include transition(all 0.5s);
		}

		&:hover {
			&:before {
				@include opacity(0.5);
			}

			.catalog__pin-to-bottom {
				display: block;
			}
		}

		@include media($sm) {
			min-height: 250px;
		}
	}

	&__pin-to-bottom {
		position: absolute;
		left: $grid-gutter-width / 2;
		bottom: $paddingBottom;
		z-index: 2;
		display: none;
		padding-right: $grid-gutter-width / 2;

		@include media($sm) {
			display: block;
		}
	}

	&__inner {
		position: absolute;
		top: 50%;
		left: 0;
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
		width: 100%;
		height: 100%;

		.title {
			margin-bottom: 15px;
		}

		@include media($sm) {
			position: static;
		}
	}

	&__desc {
		color: #fff;
		line-height: 1.3;
		margin-bottom: 15px;
	}

	&__desc-2 {
		font-size: ptToPx(23px);
		color: #fff;
		margin-bottom: 20px;
	}

	&__kitchen {
		background-image: image_url('kitchen-menu.png');

		.catalog__inner {
			margin-top: -(65px / 2); // 65px - block height

			@include media($sm) {
				margin-top: 0;
				padding-top: 70px;
			}
		}
	}

	&__furniture-ready {
		background-image: image_url('furniture-ready.png');
	}

	&__furniture-order {
		background-image: image_url('furniture-order.png');
	}

	&__furniture-ready, &__furniture-order {
		.catalog__inner {
			top: 0;
			padding-top: 50px;
		}
	}

	&__in-bottom {
		position: absolute;
        bottom: 50px;
        left: 0;
		width: 100%;
		padding-left: $grid-gutter-width / 2;
		//padding-right: $paddingRight;
	}

	&__right-center {
		$blockHeight: 247px;
		position: absolute;
        top: 50%;
		//padding-right: $paddingRight;
		margin-top: -$blockHeight / 2;

		@include media($sm) {
			position: static;
			margin-top: 15px;
		}
	}
}

.catalog-title {
	color: $violet;
	font-size: ptToPx(23px);
	margin-bottom: 33px;
}