.cilek-years {
	$localGreen: #0e892c;
	$localViolet: #545888;

	&__text {

		@include media($sm) {
			margin-bottom: 15px;
		}

		h4 {
			@extend %fontRalewayExtraBold;
			font-size: ptToPx(23px);
		}
	}

	&__menu {
		@include clearfix;
		@include resetList();
		margin-bottom: 65px;

		> li {
			$sideSpace: 12px;

			width: 25%;
			float: left;
			text-align: center;
			position: relative;
			font-size: ptToPx(17px);

			@include media($xs) {
				width: 100%;
				float: none;
			}

			a {
				padding-top: 105px;
				color: $localGreen;
				text-transform: uppercase;
				@extend %fontRalewayExtraBold;
				display: block;
				position: relative;
				z-index: 1;
			}

			&:before {
				display: block;
				border-radius: 100%;
				@include square(80px + 2 * $sideSpace);
				@include gradient-vertical(#76d8a1, $localGreen);
				@extend %fontRobotoRegular;
				font-size: ptToPx(35px);
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -(40px + $sideSpace);
				color: #fff;
				font-weight: bold;
				line-height: 80px;
				border: $sideSpace #fff solid;
			}

			@include after() {
				@include size(100%, 0);
				border-bottom: 1px $localGreen dotted;
				position: absolute;
				left: 50%;
				top: 40px + $sideSpace;
				z-index: -1;

				@include media($xs) {
					display: none;
				}
			}

			&.active {
				a {
					color: $localViolet;
					text-decoration: none;
				}

				&:before {
					@include gradient-vertical(#8992c5, $localViolet);
				}

				&:after {
					border-bottom-color: $localViolet;
				}
			}

			&:last-child {
				&:after {
					display: none;
				}
			}
		}

		&-item-0 {
			&:before {
				content: '1+';
			}
		}

		&-item-1 {
			&:before {
				content: '3+';
			}
		}

		&-item-2 {
			&:before {
				content: '6+';
			}
		}

		&-item-3 {
			&:before {
				content: '10+';
			}
		}
	}
}