body {
	@extend %fontRalewayRegular;
	position: relative;
	background-color: #ececec;
	@include background-size(100% !important);
	font-size: ptToPx(15px);
	line-height: 1.5;
	overflow: hidden; // ???

	@include media($md) { // or $md or $sm
		overflow: auto;
	}
}

a {
	color: #fff;
}

h2 {
	font-size: ptToPx(30px);
	margin-bottom: 50px;
}

h3 {
	font-size: ptToPx(23px);
	margin-bottom: 30px;
	margin-top: 0;
}

h4 {
	margin-top: 0;
	margin-bottom: 16px;
}

p {
	margin-bottom: 20px;
}

strong {
	@extend %fontRalewayExtraBold;
}

.yellow-bg {
	display: inline-block;
	background: $yellow;
}

.logo {
	@include image-block('logo.png');
	display: block;
	margin-top: 20px;
	position: absolute;
	left: $grid-gutter-width / 2;
}

.black-text {
	color: $blackLink;
}

.logo-big {
	@include image-block('logo-big.png');
	display: block;
	margin-bottom: 25px;
}

.container_menu {
	position: relative;
	z-index: 1;
	height: 0;
}

.container_main {
	height: 100%;
}

.title {
	text-transform: uppercase;
	font-size: ptToPx(40px);
	color: #fff;
	margin: 0 0 30px;
}

.uc {
	text-transform: uppercase;
}

.t-C {
	text-align: center;
}

.order-fitting {
	background: image-url('order-fitting.png') no-repeat 50% 50% $green;
	@include square(47px);
	@include border-radius(100%);
	display: block;
	position: absolute;
	//bottom: 50px;
	bottom: 0;
	z-index: 1;
	right: $grid-gutter-width / 2;
	@include animation(spin 4000ms 1);

	&__tooltip {
		display: block;
		@include square(100%);
		position: relative;
	}

	@include media($sm) {
		@include animation(none);
	}
}

@include keyframes(spin) {
	0% {
		right: -400px;
	}

	80% {
		right: 90px;
	}

	100% {
		@include rotate(720deg);
		right: 15px;
	}
};

.nobr {
	white-space: nowrap;
}

.h100 {
	height: 100%;
}

.h50 {
	height: 50%;
}

.h100, .h50 {
	@include media($sm) {
		height: auto;
	}
}

.ico-map {
	@include image-block('map.png');
	display: inline-block;
	margin-right: 5px;
}

.contacts {
	margin: 30px 0;

	&__item {
		@extend %fontRobotoRegular;
		font-size: ptToPx(17px);
		padding-left: 25px;
		background: image_url('mail.png') no-repeat 0 50%;
		line-height: 20px;
		display: inline-block;
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}

		a {
			color: $blackLink;
		}

		&_whatsapp {
			background: image_url('whatsup.png') no-repeat 0 50%;
		}
	}
}

.insta-folio {
	padding-right: 60px;
	background: image_url('insta.png') no-repeat 100% 50%;
	color: $violet;
	line-height: image_height('insta.png');
	margin-bottom: 40px;
	display: block;
}

.color-white {
	color: #fff;
}

.title-margin-top {
	padding-top: 110px;
}

.light-body {
	.logo {
		background-image: image_url('mini-logo-color.png');
	}

	.main-menu__phone, .main-menu__toggle {
		color: $black;
	}
}

.light-brown-body {
	.main-menu__phone, .main-menu__toggle {
		color: $brown;
	}
}

.white-body {
	background: #FFF;

	.logo {
		background-image: image_url('mini-logo-color.png');
	}
}

.violet-phone {
	.main-menu__phone, .main-menu__toggle {
		color: $violet;
	}
}

.hide-logo {
	.logo {
		display: none;
	}
}

.violet {
	color: $violet;
}

.white {
	color: #fff;
}

.brown {
	color: $brown;
}

.block-padding-top {
	padding-top: $paddingTop;

	@include media($sm) {
		padding-top: 30px;
	}
}

.padding-top-mobile {
	@include media($sm) {
		padding-top: $paddingTopMobile;
	}
}

.list {
	@include resetList();
	margin-bottom: 60px;
	padding-left: 25px;
	color: #fff;

	@include media($xs) {
		padding-left: 0;
	}

	&_brown {
		color: $brown;
	}

	&_violet {
		color: $violet;
	}

	&_black {
		color: #333;
	}

	li {
		font-size: ptToPx(17px);
		margin-bottom: 20px;
		padding-left: 30px;
		position: relative;

		&:before {
			content: "\2014";
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

.expand-to-gutters {
	margin-left: -$grid-gutter-width / 2;
	margin-right: -$grid-gutter-width / 2;
}

.carousel-nav {
	$dimension: 75px;
	@include square($dimension);
	background: $blue;
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;

	@include before() {
		@include square(23px);
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -12px;
		margin-left: -15px;
		border-right: 1px #fff solid;
		border-bottom: 1px #fff solid;
		@include rotate(-45deg);
	}

	&_left {
		right: $dimension + 1;

		&:before {
			margin-left: -6px;
			border-left: 1px #fff solid;
			border-right: 0;
			@include rotate(45deg);
		}
	}

	&_top {
		top: 0;
	}
}

.pin-to-bottom {
	position: absolute !important;
	bottom: 0;
	margin-left: -$grid-gutter-width / 2;
	margin-right: -$grid-gutter-width / 2;
	@extend .container;
	margin-bottom: $paddingBottom;
	font-size: 0;

	a {
		font-size: ptToPx(17px);

		@include media($xs) {
			font-size: ptToPx(15px);
		}
	}

	&_w50 {
		padding: 0 ($grid-gutter-width / 2);
		width: 100%;
		margin-left: -52px;

		@include media($sm) {
			margin-left: 0;
			padding: 0;
			text-align: center;
		}
	}

	@include media($sm, $xs) {
		width: 100%;
	}

	@include media($sm) {
		position: relative !important;
		bottom: auto;
	}
}

.pr {
	position: relative;
}

.video-container {
	margin: 0 (-$grid-gutter-width / 2);

	> div {
		height: 100%;
	}
}

.mw-100 {
	max-width: 100%;
}

.discount-circle {
	display: inline-block;
	margin-right: 40px;

	&__disc {
		@include square(216px);
		background: $violet;
		border-radius: 100%;
		text-align: center;
		padding-top: 50px;
		margin: 0 auto 10px;
		@include box-shadow(6px 0 0 #cdd0d3);
	}

	&__text {
		color: #fff;
		font-size: ptToPx(17px);
	}

	&__value {
		font-size: ptToPx(80px);
		@extend %fontRobotoRegular;
		font-weight: bold;
		color: #fff;
	}

	&__append {
		font-size: ptToPx(17px);
		color: $violet;
	}

	&_small {

		.discount-circle__disc {
			@include square(165px);
		}

		.discount-circle__value {
			font-size: ptToPx(50px);
		}
	}
}

.padding-bottom {
	padding-bottom: 75px;
}

.catalog-row {
	margin-bottom: 30px;

	img {
		@extend .mw-100;
	}
}

// use fade effect on tabs
/*.tab-content > .tab-pane {
	opacity: 0;
	position: absolute;
	height: 0;
	display: block;
	@include transition(height 0s, position 0s, opacity 0.5s ease-in-out);
}

.tab-content > .active {
	opacity: 1;
	height: auto;
	position: relative;
}*/

.slide-up, .slide-down {
	@include transition(all 0.5s ease-in-out);
}

.slide-up {
	margin-top: -100%;
}

.slide-down {
	margin-top: 100%;
	//position: absolute;
	//top: 100%;
}