.credit {
	&__table {
		border: 3px $violet solid;

		th {
			@extend %fontRalewayExtraBold;
			border: 0;
		}

		td {
			border-top-color: $violet;
			width: 25%;
		}

		th, td {
			padding: 10px 10px 10px 25px !important;
		}
	}

	&__desc {
		@extend %fontRalewayExtraBold;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 45px;
	}

	&__total {
		text-align: right;
		color: $violet;
		@extend %fontRalewayExtraBold;
		padding-right: 20px;
	}
}