.dream-job {

	&__desc {
		color: $blackLink;
		border-color: $violet;
		padding-bottom: 0;

		&:before {
			border-color: $violet;
			background: #fff;
		}

		&:after {
			display: none;
		}

		@include media($sm) {
			margin-right: 0;
		}
	}

	.list {
		padding-left: 0;
	}

	&__links {
		@include resetList;

		li {
			font-size: ptToPx(23px);
			margin-bottom: 25px;

			&.active {
				a {
					text-decoration: none;
					color: $blackLink;
				}
			}

			a {
				text-transform: uppercase;
				color: $violet;
			}
		}
	}

	&__button {
		margin-bottom: 42px;
		text-decoration: none;
	}
}