@font-face {
	font-family: 'ralewayextrabold';
	src: url('/fonts/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'ralewayregular';
	src: url('/fonts/Raleway-Regular.ttf') format('truetype');
}

%fontRalewayExtraBold {
	font-family: 'ralewayextrabold', Arial, sans-serif;
}

%fontRalewayRegular {
	font-family: 'ralewayregular', Arial, sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

%fontRobotoRegular {
	font-family: 'Roboto', sans-serif;
}
