.form-callback {

	&__text {
		border-radius: 0;
		border-color: $violet;
		color: $violet;
		height: 46px;

		@include input-placeholder() {
			text-transform: uppercase;
			color: $violet;
		}
	}

	&__file {
		border: 1px #fff solid;
		text-transform: uppercase;
		color: #fff;
		background: transparent;
		line-height: 34px;
		font-size: ptToPx(17px);
		padding: 6px 12px;
		display: block;
		cursor: pointer;

		&-icon {
			@extend .pull-right;
			font-size: 20px;
			top: 7px;
		}
	}

	&__button {
		border-radius: 0;
		background: $violet;
		text-transform: uppercase;
		font-size: ptToPx(17px);
		height: 46px;
		width: 100%;
		line-height: 36px;

		&, &:hover, &:focus {
			color: #fff;
		}

		&_green {
			background: $green;
		}
	}

	&_white {
		.form-callback__text {
			background: transparent;
			border-color: #fff;
			color: #fff;

			@include input-placeholder() {
				color: #fff;
			}
		}

		.form-callback__button {
			background: #fff;
			color: $grey;
		}
	}

	&_transparent {
		.form-callback__text {
			background: transparent;
			border-color: #fff;
			color: #fff;

			@include input-placeholder() {
				color: #fff;
			}
		}

		.col-sm-6 {
			width: 100%;
			margin-bottom: 28px;
		}
	}

	&_brown {
		.form-callback__text {
			background: transparent;
			border-color: $brown;
			color: $brown;

			@include input-placeholder() {
				color: $brown;
			}
		}

		.form-callback__button {
			background: #fff;
			color: $brown;
		}
	}

	&_green {
		.form-callback__text {
			background: transparent;
			border-color: $green;
			color: $green;

			@include input-placeholder() {
				color: $green;
			}
		}

		.form-callback__button {
			background: $green;
			color: #fff;
		}
	}
}