.furniture-order {

	&__bg {
		background-image: image_url('furniture-order-bg.jpg');
	}

	&__bionica {
		padding-top: 0;

		@include media($xs) {
			padding-top: image_height('FP-bionica.png') + 20;
		}

		&:before {
			background-image: image_url('FP-bionica.png');
		}
	}
}