.furniture-ready {

	&__title {
		background: image_url('vox-logo.png') no-repeat;
		padding-left: image_width('vox-logo.png') + 20;
		font-size: ptToPx(40px);
		text-transform: uppercase;
		color: #fff;
		line-height: ceil(image_height('vox-logo.png') / 2);
		margin-bottom: 60px;
		min-height: image_height('vox-logo.png');
		max-width: 550px;

		@include media($xs) {
			padding-left: 0;
			padding-top: 100px;
			margin-top: 0;
		}
	}

	&__bg {
		background-image: image_url('vox-bg.png');
	}

	&__bg-brown {
		background: $grey;
	}

	&__ok {
		color: #fff;
		font-size: ptToPx(17px);
		margin-bottom: 50px;
		position: relative;
		padding-left: image_width('vox-check.png') + 50;
		padding-top: 30px;
		height: image_height('vox-check.png');

		@include media($xs) {
			padding-left: 0;
			padding-top: 150px;
			height: auto;
		}

		&:before {
			display: inline-block;
			vertical-align: middle;
			content: '';
			@include image-block('vox-check.png');
			position: absolute;
			left: 25px;
			top: 0;

			@include media($xs) {
				left: 0;
			}
		}
	}

	&__desc {
		font-size: ptToPx(23px);
		margin-bottom: 50px;
		color: #fff;

		&_violet {
			color: $violet;
		}
	}

	&__bg-brown-light {
		background: $brownLight;
	}
}

.furniture-ready-paged {
	color: $brown;

	&__bg {
		background-image: image_url('paged-bg.png');
	}

	$titlePaddingLeft: image_width('paged-logo.png') + 20;
	&__title {
		padding-left: $titlePaddingLeft;
		background: image_url('paged-logo.png') no-repeat 0 0;
		text-transform: uppercase;

		@include media($xs) {
			padding-left: 0;
			padding-top: 80px;
			margin-top: 0;
		}
	}

	&__desc {
		padding-left: $titlePaddingLeft;
		display: inline-block;
		font-size: ptToPx(17px);
		margin-bottom: 55px;

		@include media($xs) {
			padding-left: 0;
		}
	}
}

.furniture-ready-cilek {
	&__bg {
		background-image: image_url('cilek-bg.png');
	}

	&__title {
		background: image_url('cilek-logo.png') no-repeat 0 0;
		padding-left: image_width('cilek-logo.png') + 20;
		text-transform: uppercase;
		color: #fff;
		min-height: image_height('cilek-logo.png');
		line-height: 1.5;
		margin-bottom: 50px;

		@include media($xs) {
			padding-left: 0;
			padding-top: 130px;
			margin-top: 0;
			margin-bottom: 20px;
		}
	}

	&__desc {
		display: block;
		color: #fff;
		font-size: ptToPx(17px);
		text-transform: none;
	}
}

.cilek-map {
	background: image_url('cilec-image.png');
	height: image_height('cilec-image.png');
	max-width: image_width('cilec-image.png');
	min-width: 930px;

	&__1 {
		top: 60px;
		left: 884px;
	}
	&__2 {
		top: 107px;
		left: 620px;
	}
	&__3 {
		top: 280px;
		left: 96px;
	}
	&__4 {
		top: 250px;
		left: 865px;
	}
	&__5 {
		top: 338px;
		left: 547px;
	}
	&__6 {
		top: 485px;
		left: 48px;
	}
	&__7 {
		top: 388px;
		left: 830px;
	}
	&__8 {
		top: 534px;
		left: 436px;
	}
}

.furniture-ready-tct-nanotec {
	&__title {
		color: $violet;
		background-image: image_url('tct-logo.png');
		padding-left: image_width('tct-logo.png') + 20;

		span {
			color: $violet;
		}

		@include media($xs) {
			padding-left: 0;
			padding-top: 80px;
			margin-bottom: 30px;
		}
	}
}