.how-we-work {
	background: $blue;
	padding-top: 100px ; //($grid-gutter-width / 2)
	padding-bottom: 30px;

	&__bg {
		background: image_url('salon-bg.png') no-repeat 50% 0;
	}

	&__text {
		position: relative;
		z-index: 1;
	}

	&__title {
		color: $black;
		margin-bottom: 60px;
	}

	&__scheme {
		@include resetList();
		@include clearfix();
		margin-bottom: 70px;

		li {
			display: block;
			float: left;
			padding-top: 90px;
			position: relative;
			width: 20%;
			text-align: center;
			font-size: ptToPx(17px);
			color: #333;

			@include media($screen-xs) {
				float: none;
				width: 100%;
				margin-bottom: 15px;
			}

			@include before() {
				background-image: image_url('step-arrow.png');
				height: image_height('step-arrow.png');
				background-position: 100% 0;
				width: 35%;
				max-width: image_width('step-arrow.png');
				position: absolute;
				left: -50px;
				top: 30px;

				@include media($screen-sm) {
					display: none;
				}
			}

			&:first-child {
				&:before {
					display: none;
				}
			}
		}
	}

	//@each $i in range()
	@for $i from 1 to 6 {
		$image: 'step#{$i}.png';

		&__scheme-step#{$i} {

			@include after() {
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: - image_width($image) / 2;
				background: image_url($image);
				@include size(image_width($image), image_height($image));
				display: inline-block;
			}
		}
	}

	&__green-block {
		background-color: $greenBg;
		padding-top: 40px;
		padding-bottom: 80px;

		@include media($sm) {
			margin-bottom: 15px;
		}

		p {
			color: #fff;
			font-size: ptToPx(17px);
		}
	}

	&__propose {
		position: relative;
		overflow: hidden;

		@include before() {
			background-image: image_url('ico-info.png');;
			height: image_height('ico-info.png');
			width: 171px;
			position: absolute;
			right: 0;
			top: 62px;
		}

		&_form {
			&:before {
				background-image: image_url('ico-callback.png');
			}

			h3 {
				margin-top: 0;
				margin-bottom: 20px;
			}

			.list {
				padding-left: 0;
				margin-bottom: 45px;
			}
		}
	}

	&__right-block {
		padding-top: 70px;

		p {
			font-size: ptToPx(17px);
		}
	}
}