.index-bg {
	background: url('/images/1screen.png') no-repeat 50% 0 rgba(0, 0, 0, 0.5);

	@include media($sm, $xs) {
		min-height: $mobileBodyMinHeight;
	}
}

.index-logo {
	$logoSquare: 170px;

	padding-left: $logoSquare + $grid-gutter-width;
	margin-top: 145px;
	color: #fff;
	font-size: ptToPx(40px);
//	padding-top: 30px;
	line-height: 1.3em;
	@extend %fontRalewayExtraBold;
	text-transform: uppercase;
	position: relative;

	@include media($sm, $xs) {
		margin-bottom: 350px;
	}

	&__logo {
		position: absolute;
		left: ($logoSquare - image-width('logo-big.png')) / 2;
		@include image-block('logo-big.png');
		display: block;

		@include before() {
			@include square($logoSquare);
			position: absolute;
			left: -($logoSquare - image-width('logo-big.png')) / 2;
			top: -($logoSquare - image-height('logo-big.png')) / 2;
			@include border-radius(100%);
			background: #ffffff;
			z-index: -1;
		}

		@include media($xs) {
			top: 0;
		}
	}

	@include media($xs) {
		padding-left: 0;
		padding-top: 140px;
	}
}

.index-action {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-left: 85px;
	padding-top: 50px;
	padding-right: 12px;
	overflow: hidden;

	@include before() {
		@include square(374px);
		background: #4B5599;
		@include border-radius(100%);
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}

	@include after() {
		@include image-block('tv.png');
		margin-left: -17px;
	}

	@include media($xs) {
		position: relative;
		margin-bottom: 20px;
	}

	&__title {
		font-size: ptToPx(30px);
		@extend %fontRalewayExtraBold;
		color: #fff;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 10px;
	}

	&__text {
		font-size: ptToPx(17px);
		color: #fff;
		margin-bottom: 5px;
	}

	&__link {
		font-size: 13px;
		text-decoration: underline;
		color: #fff;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}