.kitchens {

	&__folio-insta {
		background: image_url('insta-white.png') no-repeat 50% 0;
		padding-top: 55px;
		text-align: center;
		margin-bottom: 45px;

		a {
			display: inline-block;
			color: #fff;
			font-size: ptToPx(17px);
		}
	}

	&__bg {
		background-image: image_url('kitchen-bg.png');
	}

	&__pdf-links {
		display: inline-block;
		font-size: ptToPx(23px);
		text-align: center;
		text-decoration: none;
		margin-bottom: 85px;

		img {
			max-width: 100%;
			margin-bottom: 35px;
			display: block;
		}

		span {
			padding-left: 35px;
			background: image_url('pdf.png') no-repeat 0 50%;
			display: inline-block;
			text-align: left;
			min-height: image_height('pdf.png');
			line-height: image_height('pdf.png');
		}
	}

	&__benefits {
		margin-bottom: 35px;
		height: image_height('sputnik-1.png');
		padding-left: image_width('sputnik-1.png') + 12;
		position: relative;
		padding-top: 32px;

		&:before {
			content: '';
			display: block;
			@include image-block('sputnik-1.png');
			position: absolute;
			left: 0;
			top: 0;
		}

		span {
			display: inline-block;
			vertical-align: middle;
		}

		@for $i from 2 to 7 {
			&_#{$i} {
				&:before {
					background-image: image_url('sputnik-#{$i}.png');
				}
			}
		}

		&_3 {
			padding-top: 23px;
		}

		&_4, &_6 {
			padding-top: 5px;
		}
	}

	&__benefits-container {
		margin-bottom: 100px;

		@include media($xs) {
			margin-bottom: 10px;
		}
	}

	&__tv {
		@include resetList();
		margin-bottom: 50px;

		li {
			margin-bottom: 25px;

			a {
				font-size: ptToPx(17px);

				&:hover, &.active {
					padding-left: 20px;
					@include transition(0.5s);
				}

				&:before {
					content: '';
					display: inline-block;
				}
			}
		}
	}
}

.kitchens-intro {

	&__about {
		background: #fff;
		margin: 0 (-$grid-gutter-width / 2);
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
		padding-bottom: 100px;
	}

	&__link {
		color: $violet;
		font-size: ptToPx(17px);
		display: inline-block;
		text-decoration: none;

		span {
			font-size: 25px;
		}
	}

	&__choose {
		margin-left: -$grid-gutter-width / 2;
		margin-right: -$grid-gutter-width / 2;
		padding: 60px $grid-gutter-width / 2;

		&_white-bg {
			background: #fff;
		}

		@include media($sm) {
			padding-bottom: 10px;
		}
	}

	&__circle {
		color: $violet;
		text-align: center;
		border-radius: 100%;
		border: 10px $violet solid;
		@include square(325px);
		padding: 55px;
		margin: 0 auto 45px;
		position: relative;
		@include animation(fallDown 3000ms 1 ease-in-out);

		@include media($xs) {
			@include square(280px);
			padding: 35px;
		}

		@include keyframes(fallDown) {
			0% {
				top: -500px;
			}

			70% {
				top: 80px;
			}

			100% {
				top: 0;
			}
		}

		@include before() {
			@include square(100%);
			border: 10px #c8ccd0 solid;
			position: absolute;
			left: -3px;
			top: -3px;
			border-radius: 100%;
			z-index: -1;
			@include box-sizing(content-box);
		}

		span {
			display: block;
			font-size: ptToPx(26px);
		}

		b {
			display: block;
			@extend %fontRobotoRegular;
			font-size: ptToPx(120px);
			line-height: 1.1;
		}

		&_small {
			@include square(245px);
			border-width: 8px;
			padding: 40px;
			@include animation(slideLeft 1000ms 1 ease-in);

			@include keyframes(slideLeft) {
				0% {
					right: -300px;
				}

				50% {
					right: 150px;
				}

				100% {
					right: 0;
				}
			}

			&:before {
				left: -5px;
				top: -5px;
			}

			b {
				font-size: ptToPx(90px);
			}
		}
	}
}

.kitchen-map {
	//@include image-block('kitchen.png');
	background: image_url('kitchen.png');
	height: image_height('kitchen.png');
	max-width: image_width('kitchen.png');
	min-width: 920px;
	position: relative;
	margin: 50px auto 10px;

	&__1 {
		left: 654px;
		top: 128px;
	}
	&__2 {
		left: 308px;
		top: 171px;
	}
	&__3 {
		left: 399px;
		top: 284px;
	}
	&__4 {
		left: 647px;
		top: 293px;
	}
	&__5 {
		left: 749px;
		top: 284px;
	}
	&__6 {
		left: 329px;
		top: 377px;
	}
	&__7 {
		left: 99px;
		top: 482px;
	}
	&__8 {
		left: 839px;
		top: 482px;
	}
	&__9 {
		left: 279px;
		top: 527px;
	}
	&__10 {
		left: 704px;
		top: 644px;
	}
	&__11 {
		left: 100px;
		top: 678px;
	}
	&__12 {
		left: 173px;
		top: 743px;
	}
}