.main-menu {
	@extend %fontRobotoRegular;
	padding-top: 30px;
    z-index: 1;
	position: absolute;
	right: $grid-gutter-width / 2;

	&__phone {
		font-size: ptToPx(23px);
		color: #fff;
		@extend %fontRobotoRegular;
	}

	&__toggle {
		color: #fff;
		font-size: 18px;
		text-decoration: none;
		margin-left: 5px;
		top: 2px;
	}

	&__show-header {
		margin-bottom: 50px;
		padding-top: 20px;
		margin-right: -27px;

		.main-menu__phone, .main-menu__toggle {
			color: $blackLink;
		}
	}

	&__menu {

		li {
			list-style: none;
			margin-bottom: 20px;

			span {
				font-size: ptToPx(13px);
				margin-right: 20px;
			}

			a {
				font-size: ptToPx(21px);
				color: $blackLink;
				text-decoration: none;
				border-bottom: 1px lighten($blackLink, 50%) solid;

				&:hover {
					border-bottom-color: $blackLink;
				}
			}

			&.active {
				a {
//					@extend %fontRalewayExtraBold;
					font-weight: bold;
					color: #4c569a;
				}
			}
		}
	}

	&__show {
		text-align: right;
		padding-right: 27px;
		padding-top: 10px;
		height: 100%;
		overflow: auto;
	}

	&__credit {
		$square: 53px;
		margin-top: -10px;

		text-align: left;
		width: 50%;
		float: left;

		@include media($xs) {
			width: 40%;
		}

		a {
			color: $violet;
			overflow: hidden;
			margin-top: 7px;
			display: inline-block;
		}

		i {
			display: inline-block;
			@include image-block('credit-icon.png');
			left: $grid-gutter-width/ 2;
			margin-left: ($square - image-width('credit-icon.png')) / 2;
			margin-right: 15px;
			vertical-align: middle;
			@include square($square);
			background-color: $violet;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			@include border-radius(100%);
			float: left;
		}
	}
}

.main-menu-bg {
	position: absolute;
	left: 0;
	top: 0;
	@include square(100%);
	z-index: 2;
	margin: 0;

	&__shadow {
		background: #000;
		@include opacity(0.6);
	}

	&__container {
		background: #ffffff;
	}
}