
.map-pin {
	position: absolute;
	@include size(40px, 43px);
	background: image_url('hovers.png');
	cursor: pointer;

	&:hover, &.active {
		background-position: 0 -43px;
	}
}

.tooltip-map-pin {
	margin-top: 8px !important;
	z-index: 1;

	.tooltip-inner {
		background: #fff;
		border: 2px $green solid;
		padding: 25px 16px 18px;
		color: $black;
		text-align: left;
		line-height: 1.8em;
		max-width: 340px;
	}

	.tooltip-header {
		color: $violet;
		font-size: ptToPx(17px);
		margin-bottom: 10px;
	}

	.tooltip-arrow {
		@include square(18px);
		border: 0;
		border-left: 2px $green solid !important;
		border-top: 2px $green solid !important;
		background: #ffffff;
		@include rotate(45deg);
		margin-left: -9px !important;
		margin-top: -4px;
	}

	&.top {
		margin-top: -8px !important;

		.tooltip-arrow {
			@include rotate(-135deg);
			margin-top: 0;
			margin-bottom: -4px;
		}
	}
}