.pagination {
	width: 12px;
	position: absolute;
	right: 20px + 12px;
	top: 50%;
	margin-top: -80px; // we don't know height, we can only trust that it will be about 6 page items
	z-index: 1;

	li {
		list-style: none;
		@include opacity(0.5);
		margin-bottom: 5px;

		a {
			text-indent: -9999px;
			display: inline-block;
			@include border-radius(100%);
			background: $green;
			border: 2px #fff solid;
			@include square(12px);
		}

		&.active {
			@include opacity(1);
		}
	}
}