.sits {

	&__bg {
		background-image: image_url('sits-bg.png');
	}

	&__title {
		background-image: image_url('sits-logo.png');
		padding-left: image_width('sits-logo.png') + 20;
		color: $violet;

		@include media($xs) {
			padding-left: 0;
			padding-top: image_height('sits-logo.png');
		}
	}
}