.what-to-know {
	&__bg {
		background: $blue;
	}

	&__menu {
		padding-left: 0;

		@include media($sm) {
			margin-bottom: 50px;
		}

		li {
			list-style: none;
			margin-bottom: 30px;

			a {
				font-size: ptToPx(21px);
				text-transform: uppercase;
				color: #fff;
				text-decoration: none;
			}

			&.active {
				a {
					color: $yellow;
				}
			}
		}
	}

	&__title {
		margin: 120px 0;

		@include media($sm) {
			margin-bottom: 40px;
		}
	}

	&__answer {
		border: 3px $yellow solid;
		padding: 28px 82px 28px 45px;
		font-size: ptToPx(17px);
		color: #fff;
		position: relative;
		margin-top: -22px;
		margin-right: 55px;
		margin-bottom: 20px;

		@include media($xs) {
			padding: 20px;
		}

		@include before() {
			@include square(24px);
			border-bottom: 3px $yellow solid;
			border-left: 3px $yellow solid;
			@include rotate(45deg);
			background: $blue;
			position: absolute;
			left: -14px;
			top: 20px;
		}

		@include after() {
			@include image-block('LDSP-safety.png');
			position: absolute;
			right: -32px;
			top: -40px;

			@include media($xs) {
				display: none;
			}
		}

		&_work-time {
			&:after {
				@include image-block('long-time.png');
			}
		}

		&_material {
			&:after {
				@include image-block('material.png');
			}
		}

		&_facade-quality {
			&:after {
				@include image-block('quality-2.png');
			}
		}

		&_how-to {
			&:after {
				@include image-block('how-to-check.png');
			}
		}
	}
}