.wholesale {

	&__mail, &__phone {
		font-size: ptToPx(25px);
		color: #40423f;
		text-decoration: none;
	}

	&__phone {
		@extend %fontRobotoRegular;
	}

	&__callback {
		input[type="text"], textarea {
			background: transparent;
			border: 1px #fff solid;
			color: #fff;

			@include input-placeholder() {
				color: #fff;
			}
		}

		textarea {
			height: 168px;
		}
	}
}