@import "compass";
@import "bootstrap";

// variables
$xs: $screen-xs;
$sm: $screen-sm;
$md: $screen-md;
$lg: $screen-lg;
$green: #3BAB61;
$greenBg: #4F9D6B;
$blackLink: #40423f;
$violet: #4c569a;
$blue: #38427d;
$yellow: #f3e61c;
$black: #333;
$grey: #5e5754;
$brownLight: #d4c2a0;
$brown: #624228;
$paddingRight: 40px;
$paddingBottom: 30px;
$paddingTop: 130px;
$paddingTopMobile: 80px;
$mobileBodyMinHeight: 700px;

@import "mixins";

// modules
@import "modules/fonts";
@import "modules/common";
@import "modules/pagination";
@import "modules/arrowed-link";
@import "modules/main-menu";
@import "modules/form-callback";
@import "modules/ajax-loading";
@import "modules/tooltip";
@import "modules/map-pin";

// pages
@import "modules/index";
@import "modules/catalog";
@import "modules/benefits";
@import "modules/what-to-know";
@import "modules/about";
@import "modules/how-we-work";
@import "modules/kitchens";
@import "modules/furniture-ready";
@import "modules/cilek-years";
@import "modules/furniture-order";
@import "modules/sits";
@import "modules/wholesale";
@import "modules/dream-job";
@import "modules/actions";
@import "modules/credit";